<div class="col-md-4 col-md-offset-4">
<form role="form">
  
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" placeholder="Nombre de la entidad" ng-model="entidadBancaria.nombre"ng-disabled=" (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{entidadBancaria.nombre}}">
    </div>
  
    <div class="form-group">
        <label>Codigo Entidad</label>
        <input type="text" class="form-control" placeholder="Codigo de la entidad" name="codigoEntidad" ng-model="entidadBancaria.codigoEntidad"ng-disabled="  (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{entidadBancaria.codigoEntidad}}">
    </div>
  
    <div class="form-group">
        <label>Fecha de creacion</label>
        <input ui-date="{dateFormat:'dd/mm/yy'}" type="text" class="form-control" placeholder="Fecha de creacion"  name="fechaCreacion" ng-model="entidadBancaria.fechaCreacion"ng-disabled="  (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{entidadBancaria.fechaCreacion}}">
    </div>
    
    <div class="form-group">
        <label>Direccion</label>
        <input type="text" class="form-control" placeholder="Direccion" name="direccion" ng-model="entidadBancaria.direccion"ng-disabled="  (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{entidadBancaria.direccion}}"/>
    </div>
    
    <div class="form-group">
        <label>CIF</label>
        <input type="text" class="form-control" placeholder="cif" name="cif" ng-model="entidadBancaria.cif" ng-disabled=" (tipo === 'VIEW') || (tipo === 'DELETE') || (tipo === 'GET')" ng-value="{{entidadBancaria.cif}}"/>
    </div>
  
  <input ng-click="ok()" class="btn btn-sm btn-primary" type="submit" value="{{okBoton}}"/> <input ng-click="cancel()" class="btn btn-sm btn-danger" type="submit" value="cancel"/><br><br>
</form>
    
    <div  class="alert alert-danger" ng-repeat="businessMessage in businessMessages"> {{businessMessage.fieldName}}: {{businessMessage.mensaje}}</div>
</div>