@keyframes
fadeOut {
    from {

        filter: blur(6px);

    }

    to {

        filter: blur(0px);
    }

}

body {
    text-align: center;
    background-image: url('./site/images/germany_sunset.jpg');
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

h1{

    color: white;
    opacity: 0.8;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: fadeOut;

}

h3{

    color: white;
    opacity: 0.8;

}


#container {
    margin-top: 150px;


}

#capaLogin {

    border-radius: 15px;
    margin-top: 80px;
    background-color: #000;
    padding: 0 0 30px 0;
    opacity: 0.7;
}

#capaLogin:hover{
    opacity: 0.9;

}

span{

    margin-right: 10px;
}
